<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h2>New user registration</h2>

    {% if password_errors %}
    <h3>Password incorrect!</h3>
    <ul>
        {% for pass_err in password_errors %}
        <li>{{pass_err}}</li>
        {% endfor %}
    </ul>

    {% endif %}

    {% if error %}
        <h3>{{error}}</h3>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {{form}}
        {% csrf_token %}
        <button type="Submit">Generate</button>
    </form>

</body>
</html>